<div class="container">
    <div class="row justify-content-center p-5">
        <div class="card row align-items-center" style="width: 40rem;">
            <div class="card-title text-center p-3">
                <h1>URL Shortener</h1>
            </div>
            <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
                class="card-img-top" style="width: 17rem;" alt="...">
            <form action="/urls" method="POST">
                <div class="mb-3 m-3 text-center">
                    <input class="form-control " type="url" placeholder="請輸入網址" name="url" id="url" required>
                    <button class="btn btn-secondary m-2" type="submit" class="">Shorten</button>
                </div>
            </form>
        </div>
    </div>