<div class="container">
    <div class="row justify-content-center p-5">
        <div class="card row align-items-center" style="width: 40rem;">
            <div class="card-title text-center p-3">
                <h1>URL Shortener</h1>
            </div>
            <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
                class="card-img-top" style="width: 17rem;" alt="...">
           
                <div class="mb-3 m-3 text-center">
                    <h2>Success! Please use this Link:</h2>
                    <a href="{{short_url}}">
                        <h3 id="copy">{{short_url}}</h3>
                    </a>
                    <button class="btn btn-primary m-2" type="submit" onclick="copyEvent()">Copy</button>
                    <a href="/" class="btn btn-success" >back</a>
                </div>
            
        </div>
    </div>