<div class="container">
    <div class="row justify-content-center p-5">
        <div class="card row align-items-center" style="width: 40rem;">
            <div class="card-title text-center p-3">
                <h1>URL Shortener</h1>
            </div>
            <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
                class="card-img-top" style="width: 17rem;" alt="...">
            <form action="/url" method="GET">
                <div class="mb-3 m-3 text-center">
                    <ul>
                        
                        <li>
                            {{this.url}}
                        </li>
                        
                    </ul>
                    <button class="btn btn-primary m-2" type="submit" class="">Copy</button>
                </div>
            </form>
        </div>
    </div>